body {
  background-color: #1C2023;
  color: rgba(245, 245, 245, 0.488);
}

.copyright{
  background-color: rgba(22, 24, 26, 0.408)
}

#movie{
  width: 150px;
  aspect-ratio: 1/1.5;
}

#movie {
  transition: transform 0.3s;
  transition-timing-function: linear;
  z-index: 0;
}

#movie:hover {
  transform: rotate(0deg) scale(1.1);
  z-index: 1;
}